{% extends "blog/base.html" %} 
{% load static %}
{% block content%}

<div class="col-sm-10">
    <h3 class="text-white my-5">About Page </h3>
    <p>A blog (a truncation of "weblog") is an informational website consisting of discrete, often informal diary-style text entries (posts). Posts are typically displayed in reverse chronological order so that the most recent post appears first, at the top of the web page.</p>
     

    <p>blog, online journal where an individual, group, or corporation presents a record of activities, thoughts, or beliefs. Some blogs operate mainly as news filters, collecting various online sources and adding short comments and Internet links. Other blogs concentrate on presenting original material.</p>
     
     <p>The purpose of a blog is to provide a platform for individuals or organizations to share information, ideas, and thoughts with a wider audience. Blogs can be used for personal or professional purposes, and can cover a wide range of topics, such as lifestyle, fashion, technology, politics, business, and more.</p>
</div>

{% endblock content %}